.navbar .navbar-brand h2{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 44px;
    text-align: left;
}

.masthead {
    height: 100vh;
    min-height: 300px;
    margin: 0 20px;
    background-image: url("img/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#head {
    background-color:#00000094;
    color: white;
}

img{
    max-width: 50%;
    border-radius: 50%;
}
